.vs/
x64/
miner/log/
miner/data/
miner/backup/
miner/log.txt
zip/Debug/
zip/Release/
zlib/Debug/
zlib/Release/
bzlib/Debug/
bzlib/Release/
regex/Debug/
regex/Release/
zip/corpus/
regex/doc
miner/Notes.txt
miner/block_headers.txt